<link rel="stylesheet" href="/css/profile.css">
<h1>
    Codeial / <%= title %>
</h1>

   <% if(user.id== profile_user.id){%>

    <!-- if user matches then show the form -->
    
    
    <% }else{ %>
       <!-- else show the progile info only -->
    
    <% } %>




<p>Name:<%=profile_user.name%></p>
<p>email:<%=profile_user.email%></p>


</form>