<form action="" method="POST"></form>
 <form action="/users/newpassword" method="POST">
<input type="password" name="password" placeholder="new password">
<input type="password" name="confirm-password" placeholder="confirm password">
<input type="submit" value="change">

</form> 
