#layout-footer{
    color: white;
    // margin-top:100vh;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    .footer-nav{
        ul{
            list-style: none;
        }
    }
}
 
// #footer{
// 	height:80px;
// 	width:100vw;
//  background-color: grey;
// 	display:flex;
//    align-items: center;
//    position: sticky;
//    bottom:0;


// #copyright{
// 	height:60px;
// 	width:300px;

// 	align-content:center;

// }

// i{
//      margin-top:15px;
// }
// h3,h4,i{
// 	display:inline-block;
//     color:white;
// }

// #profile-part{
//     height:57px;
// 	width:150px;
// 	margin-top:36px;
// 	margin-left:10px;
// }
// #login-or-home,#sign-section{
// 	 height:25px;
// 	width:100px;

// }

// h4{
// 	margin-top:-4px;
// 	margin-left:8px;
// 	font-size:1.2rem;
// }
// }